<!DOCTYPE html>
<html>
<style>
    

    #validationFormTemplate {
        display: none;
        text-align: right;
    }

    .validation-button {
        position: absolute;
        left: 770px;
        top: 15px;
        color: rgb(0, 148, 255);
        background-color: whitesmoke;
        border-radius: 13px;
        font-size: 18px;
        border-color: rgb(128, 128, 128);
    }

    .navbar-menu {
        color: rgb(0,180,255);
    }

    #navbar-menu-styling {
        /*position: absolute;
        top: 50px;
        margin-left: 250px;
        position: absolute;*/
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }

    .logo {
        width: 20px;
        height: 40px;
        position:absolute;
        right: 70px;
    }

    .nav-bar-menu-id {
        float: center;
    }

</style>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
</head>
<body>
    <div class="navbar-menu">
        <ul class="nav navbar-nav" id="navbar-menu-styling">
            <li><img src="~/Content/logo_vsatrader_transparent.png" class="logo" alt="logo_vsatrader"></li>
        </ul>
    </div>

    <ul class="nav nav-tabs @*topnav-centered*@">
        <li role="presentation" class="active">@Html.ActionLink("Главная", "Index", "Home")</li>
        <li role="presentation">@Html.ActionLink("Контакты", "Contact", "Home")</li>
        <li role="presentation">@Html.ActionLink("Импорт", "Import", "Home")</li>
    </ul>
    
        @*<li><button type="button" class="validation-button" onclick="openvalidationFormTemplate()">Validate</button></li>*@


    <!--</div>-->
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="validation-popup" id="validationFormTemplate">
        <form action="~/Home/Validate" id="validationForm">
            <label for="sname">Strategy Name:</label>
            <input type="text" id="sname" name="sname"><br>
            <label for="currency">Currency: </label>
            <input type="text" id="currency" name="currency"><br>
            <label for="timeframe">Timeframe: </label>
            <input type="text" id="timeframe" name="timeframe"><br>
            <label for="startDate">StartDate: </label>
            <input type="datetime" id="startDate" name="startDate"><br>
            <label for="endDate">EndDate:</label>
            <input type="datetime" id="endDate" name="endDate"><br>
            <label for="trainPeriod">TrainPeriod:</label>
            <input type="text" id="trainPeriod" name="trainPeriod"><br>
            <label for="validationPeriod">ValidationPeriod:</label>
            <input type="text" id="validationPeriod" name="validationPeriod"><br>
            <input type="submit" id="createAssetSubmitButton" value="submit">
        </form>
    </div>

    <script>
        //$('#validationForm').submit(function (e) {

        //    var form = $('#validationForm').serialize();
        //    alert("data: " + form);
        //    $.ajax({
        //        url: "/Home/Validate",
        //        contentType: 'application/json',
        //        data: form,
        //        processData: false,
        //        type: 'GET',

        //        success: function (resp, status, xhr) {
        //            console.log(xhr.responseText);
        //        },
        //        error: function (textStatus) {
        //            console.log(textStatus);
        //        }
        //    });
        //    e.preventDefault();
        //    ToogleFormVisibility("createAssetInput");
        //});

        
    </script>>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)
</body>
</html>
